// Dark Mode Color
$primary-dark: hsl(209, 23%, 22%);
$bg-dark: hsl(207, 26%, 17%);

// Light Mode Color
$text-light: hsl(200, 15%, 8%);
$input-light: hsl(0, 0%, 52%);
$bg-light: hsl(0, 0%, 98%);

$neutral: hsl(0, 0%, 100%);
$shadow: rgba(17, 21, 23, 0.142);
