$bg-white: rgba(240, 247, 255, 1);
$shadow: rgba(17, 21, 23, 0.142);

// Text color
$text-color-primary: rgba(64, 64, 64, 1);
$text-color-secondary: rgba(150, 150, 150, 1);
$text-color-btn: rgba(64, 142, 186, 1);

// Border Button color
$border-btn-primary: rgba(64, 142, 186, 1);
